;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Mar 18 19:53:08 2013
;; Desktop file format version 206
;; Emacs version 24.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/home/dragan/workspace/clojure/cats/test/org/uncomplicate/redcat" "~/workspace/clojure/cats/project.clj" "~/.emacs.d/elpa/auctex-11.86/auctex-autoloads.el"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/dragan/workspace/clojure/cats/test/org/uncomplicate/redcat/core_test.clj"
  "core_test.clj"
  'clojure-mode
  '(auto-compile-on-load-mode window-number-mode rainbow-delimiters-mode paredit-mode auto-complete-mode eldoc-mode nrepl-interaction-mode volatile-highlights-mode yas-minor-mode undo-tree-mode git-gutter-mode)
  1318
  '(1319 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/dragan/workspace/clojure/cats/src/org/uncomplicate/redcat/jvm.clj"
  "jvm.clj"
  'clojure-mode
  '(auto-compile-on-load-mode window-number-mode rainbow-delimiters-mode paredit-mode auto-complete-mode eldoc-mode nrepl-interaction-mode volatile-highlights-mode yas-minor-mode undo-tree-mode git-gutter-mode)
  6815
  '(3942 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

