<a href="https://patreon.com/draganrocks">Please support my work on Patreon</a> by <a href="https://dragan.rocks/articles/18/Patreon-Announcement-Adopt-a-Function">adopting a pet Neanderthal function in your name!</a> I'll intive you to a dedicated <a href="https://discordapp.com">Discord</a> discussion server. Can't afford to donate? Ask for a free invite.

<footer class='bs-docs-footer' role="contentinfo">

    <div class="container">
        <div class="bs-docs-social">
            <ul class="bs-docs-social-buttons">
                <li><img src="https://clojars.org/uncomplicate/fluokitten/latest-version.svg"/></li>
                <li>
                    <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=uncomplicate&amp;repo=fluokitten&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
                </li>
                <li>
                    <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=uncomplicate&amp;repo=fluokitten&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
                </li>
                <li class="follow-btn">
                    <a href="https://twitter.com/uncomplicateorg" class="twitter-follow-button"
                       data-link-color="#0069D6" data-show-count="true">Follow @uncomplicateorg</a>
                </li>
                <li class="tweet-btn">
                    <a href="https://twitter.com/share" class="twitter-share-button"
                       data-url="https://fluokitten.uncomplicate.org/" data-count="horizontal"
                       data-via="uncomplicateorg" data-related="Creator of Fluokitten">Tweet</a>
                </li>
            </ul>

            <p>This website was developed by
                &nbsp;<a href='https://github.com/blueberry'>Dragan Djuric</a>.</p>
            <p>Copyright © 2013-2016 <a href="https://github.com/blueberry">Dragan Djuric</a></p>
        </div>
    </div>
</footer>
